.BookSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.BookList {
  padding: 10px;
  border: 1px solid black;
  height: 50vh;
  width: 90%;
  overflow-y: auto;
}

.Book {
  width: 90vw;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid grey;;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.BookDetails {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.BookDescription {
  width: 40%;
  font-size: 0.8em;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  text-align: justify;
}